 
 
 
 
 
 
 table(width='100%', cellspacing='0', cellpadding='0', border='1', bgcolor='#F2F2F2')
       thead
                tr
                    th Symbol
                    th Name
                    th Score
                    th Last Refreshed
        tbody
                each rate in rates
                    tr
                        td #{rate.symbol}
                        td #{rate.shortname}
                        td #{rate.score}
                        td #{rate.updated.toISOString().split('.')[0].replace('T',' ')}